@media screen and (min-width: 1280px) and (max-width: 8000px) {
    @font-face {
        font-family: 'Dosis-Book';
        src: url('../fonts/Dosis-Book.ttf');
        src: local('Dosis-Bold'), local('Dosis-Bold'),
        url('../fonts/Dosis-Bold.eot') format('embedded-opentype'),
        url('../fonts/Dosis-Bold.woff') format('woff'),
        url('../fonts/Dosis-Bold.svg') format('svg');
        font-weight: 600;

    }

    body {
        margin: 0;

    }
    a{
        text-decoration: none;
    }

    .newland{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-family: 'Dosis-Book';
    }
    .newland-top{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .newland-top ul{
        margin-top: 0;
        padding-left: 0;
        height: 60px;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .newland-top ul li{
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .newland-top ul li:first-child{
        background: #FF8C00;
    }
    .newland-top ul li:nth-child(2){
        background: #FF8C00;
    }
    .top-1{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
    .top-1 a{
        margin-bottom: 0;
        margin-top: 0;
        padding-left: 15px;
        color: white;
        font-size: 150%;

    }
    .top-2 a{
        margin-bottom: 0;
        margin-top: 0;
        padding-right: 15px;
        color: white;
        font-size: 150%;
    }
    .top-2{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }
    .newland-content{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background:	#F5F5F5;
    }
    .content form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background:	#F5F5F5;
    }
    .content-top{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }
    .field-tickets-subject{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .field-tickets-subject input{
        width: 89%;
    }
    .field-tickets-subject label{
        margin-left: 1.7%;

    }
    .field-tickets-content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }
    .field-tickets-content textarea{
        margin-left: 1.7%;
        width: 96.7%;
        height: 160px;
    }
    .field-tickets-content label{
        padding-left: 1.7%;
    }
    .content-footer{
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 96%;
    }
    .footer-author{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .footer-author select{
        background: white;
        height: 25px;
        width: 150px;
    }

    .footer-author ul{
        padding-left: 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .footer-performer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .footer-performer a{
        color:   #9932CC;
    }
    .footer-performer ul{
        padding-left: 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .footer-find{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .footer-find ul{
        padding-left: 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .footer-find-1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .footer-find-more{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 96%;
        padding-bottom: 20px;
    }
    .footer-find-more a{
        color: #9932CC;
    }
    .footer-last{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 96%;
    }

}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    @font-face {
        font-family: 'Dosis-Book';
        src: url('../fonts/Dosis-Book.ttf');
        src: local('Dosis-Bold'), local('Dosis-Bold'),
        url('../fonts/Dosis-Bold.eot') format('embedded-opentype'),
        url('../fonts/Dosis-Bold.woff') format('woff'),
        url('../fonts/Dosis-Bold.svg') format('svg');
        font-weight: 600;

    }

    body {
        margin: 0;

    }
    a{
        text-decoration: none;
    }
    .newland{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-family: 'Dosis-Book';
    }
    .newland-top{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .newland-top ul{
        margin-top: 0;
        padding-left: 0;
        height: 60px;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .newland-top ul li{
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .newland-top ul li:first-child{
        background: #FF8C00;
    }
    .newland-top ul li:nth-child(2){
        background: #FF8C00;
    }
    .top-1{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
    .top-1 a{
        margin-bottom: 0;
        margin-top: 0;
        padding-left: 15px;
        color: white;
        font-size: 150%;

    }
    .top-2 a{
        margin-bottom: 0;
        margin-top: 0;
        padding-right: 15px;
        color: white;
        font-size: 150%;
    }
    .top-2{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }
    .newland-content{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background:	#F5F5F5;
    }
    .content form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background:	#F5F5F5;
    }
    .content-top{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }
    .field-tickets-subject{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .field-tickets-subject input{
        width: 89%;
    }
    .field-tickets-content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }
    .field-tickets-content textarea{
        margin-left: 1%;
        width: 97%;
        height: 160px;
    }
    .field-tickets-content label{
        padding-left: 0.6%;
    }
    .content-footer{
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 96%;
    }
    .footer-author{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .footer-author select{
        background: white;
        height: 25px;
        width: 150px;
    }

    .footer-author ul{
        padding-left: 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .footer-performer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .footer-performer a{
        color:   #9932CC;
    }
    .footer-performer ul{
        padding-left: 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .footer-find{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .footer-find ul{
        padding-left: 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .footer-find-1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .footer-find-more{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 96%;
        padding-bottom: 20px;
    }
    .footer-find-more a{
        color: #9932CC;
    }
    .footer-last{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 96%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    @font-face {
        font-family: 'Dosis-Book';
        src: url('../fonts/Dosis-Book.ttf');
        src: local('Dosis-Bold'), local('Dosis-Bold'),
        url('../fonts/Dosis-Bold.eot') format('embedded-opentype'),
        url('../fonts/Dosis-Bold.woff') format('woff'),
        url('../fonts/Dosis-Bold.svg') format('svg');
        font-weight: 600;

    }

    body {
        margin: 0;

    }
    a{
        text-decoration: none;
    }
    .newland{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-family: 'Dosis-Book';
    }
    .newland-top{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .newland-top ul{
        margin-top: 0;
        padding-left: 0;
        height: 60px;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .newland-top ul li{
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .newland-top ul li:first-child{
        background: #FF8C00;
    }
    .newland-top ul li:nth-child(2){
        background: #FF8C00;
    }
    .top-1{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
    .top-1 a{
        margin-bottom: 0;
        margin-top: 0;
        padding-left: 15px;
        color: white;
        font-size: 150%;

    }
    .top-2 a{
        margin-bottom: 0;
        margin-top: 0;
        padding-right: 15px;
        color: white;
        font-size: 150%;
    }
    .top-2{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }
    .newland-content{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background:	#F5F5F5;
    }
    .content form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background:	#F5F5F5;
    }
    .content-top{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }
    .field-tickets-subject{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .field-tickets-subject input{
        width: 86%;
    }
    .field-tickets-content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }
    .field-tickets-content textarea{
        margin-left: 1%;
        width: 97%;
        height: 160px;
    }
    .field-tickets-content label{
        padding-left: 1%;
    }
    .content-footer{
        margin-top: 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 96%;
    }
    .footer-author{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .footer-author select{
        background: white;
        height: 25px;
        width: 150px;
    }

    .footer-author ul{
        text-align: center;
        padding-left: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    .footer-performer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .footer-performer a{
        color:   #9932CC;
    }
    .footer-performer ul{
        text-align: center;
        padding-left: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    .footer-performer ul li{
        margin-bottom: 10px;
    }
    .footer-author ul li{
        margin-bottom: 10px;
    }
    .footer-find{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .footer-find ul{
        padding-left: 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .footer-find-1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .footer-find-more{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 96%;
        padding-bottom: 20px;
    }
    .footer-find-more a{
        color: #9932CC;
    }
    .footer-last{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 96%;
    }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    @font-face {
        font-family: 'Dosis-Book';
        src: url('../fonts/Dosis-Book.ttf');
        src: local('Dosis-Bold'), local('Dosis-Bold'),
        url('../fonts/Dosis-Bold.eot') format('embedded-opentype'),
        url('../fonts/Dosis-Bold.woff') format('woff'),
        url('../fonts/Dosis-Bold.svg') format('svg');
        font-weight: 600;

    }

   body {
        margin: 0;

    }
    a{
        text-decoration: none;
    }
    .newland{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-family: 'Dosis-Book';
    }
    .newland-top{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .newland-top ul{
        padding-left: 0;
        height: 180px;
        list-style-type: none;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 0;
    }
    .newland-top ul li{
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .newland-top ul li:first-child{
        background: #FF8C00;
    }
    .newland-top ul li:nth-child(2){
        background: #FF8C00;
    }
    .top-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .top-1 a{
        margin-bottom: 0;
        margin-top: 0;
        color: white;
        font-size: 150%;

    }
    .top-2 a{
        margin-bottom: 0;
        margin-top: 0;
        color: white;
        font-size: 150%;
    }
    .top-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .newland-content{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background:	#F5F5F5;
    }
    .content form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background:	#F5F5F5;
    }
    .content-top{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }
    .field-tickets-subject{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .field-tickets-subject input{
        width: 78%;
    }
    .field-tickets-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }
    .field-tickets-content textarea{
        margin-left: 1.7%;
        width: 95.6%;
        height: 160px;
    }
    .field-tickets-content label{
        padding-left: 1.7%;
    }
    .content-footer{
        margin-top: 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }
    .footer-author{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .footer-author select{
        background: white;
        height: 25px;
        width: 150px;
    }

    .footer-author ul{
        text-align: center;
        padding-left: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    .footer-performer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .footer-performer a{
        color:   #9932CC;
    }
    .footer-performer ul{
        text-align: center;
        padding-left: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    .footer-performer ul li{
        margin-bottom: 10px;
    }
    .footer-author ul li{
        margin-bottom: 10px;
    }
    .footer-find{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .footer-find ul{
        padding-left: 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .footer-find-1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .footer-find-more{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding-bottom: 20px;
    }
    .footer-find-more a{
        color: #9932CC;
    }
    .footer-last{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 96%;
    }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
    @font-face {
        font-family: 'Dosis-Book';
        src: url('../fonts/Dosis-Book.ttf');
        src: local('Dosis-Bold'), local('Dosis-Bold'),
        url('../fonts/Dosis-Bold.eot') format('embedded-opentype'),
        url('../fonts/Dosis-Bold.woff') format('woff'),
        url('../fonts/Dosis-Bold.svg') format('svg');
        font-weight: 600;

    }

    body {
        margin: 0;

    }
    a{
        text-decoration: none;
    }
    .newland{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-family: 'Dosis-Book';
    }
    .newland-top{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .newland-top ul{
        padding-left: 0;
        height: 180px;
        list-style-type: none;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 0;
    }
    .newland-top ul li{
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .newland-top ul li:first-child{
        background: #FF8C00;
    }
    .newland-top ul li:nth-child(2){
        background: #FF8C00;
    }
    .top-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .top-1 a{
        margin-bottom: 0;
        margin-top: 0;
        color: white;
        font-size: 150%;

    }
    .top-2 a{
        margin-bottom: 0;
        margin-top: 0;
        color: white;
        font-size: 150%;
    }
    .top-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .newland-content{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background:	#F5F5F5;
    }
    .content form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background:	#F5F5F5;
    }
    .content-top{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }
    .field-tickets-subject {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .field-tickets-subject input{
        width: 68%;
    }
    .field-tickets-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }
    .field-tickets-content textarea{
        margin-left: 1.7%;
        width: 94%;
        height: 160px;
    }
    .field-tickets-content label{
        padding-left: 1.7%;
    }
    .content-footer{
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .footer-author{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .footer-author select{
        background: white;
        height: 25px;
        width: 150px;
    }

    .footer-author ul{
        padding-left: 10px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
    }
    .footer-author ul li{
        margin-bottom: 10px;
    }
    .footer-performer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .footer-performer a{
        color:   #9932CC;
    }
    .footer-performer ul{
        padding-left:10px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
    }
    .footer-performer  ul li{
        margin-bottom: 10px;
    }
    .footer-find{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .footer-find ul{
        padding-left: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .footer-find ul li{
        margin-bottom: 15px;
    }
    .footer-find-1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .footer-find-more{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding-bottom: 20px;
    }
    .footer-find-more a{
        color: #9932CC;
    }
    .footer-last{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 96%;
    }
}
/*
html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

!* add sorting icons to gridview sort links *!
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: !*"\e113"*! "\e151";
}

a.desc:after {
    content: !*"\e114"*! "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

!* align the logout "link" (button in form) of the navbar *!
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
*/
